body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    margin: 0;
}
header {
    background: #222;
    padding: 10px;
}
audio {
    width: 80%;
    margin-top: 20px;
}
